<template>
  <h1>Characters</h1>

  <ul class="data-list">
    <li v-for="episode in episodes" :key="episode.id">
      {{ episode.name }}
    </li>
  </ul>
</template>

<script>
import { useQuery } from "../composables/useQuery";
export default {
  setup() {
    const { results } = useQuery(`
      query($page: Int) {
        data: episodes(page: $page) {
          info {
            count
            pages
            next
            prev
          }
          results {
            id
            name
            episode
          }
        }
      }
    `);
    return {
      episodes: results,
    };
  },
};
</script>

<style>
</style>