<template>
  <h1>Characters</h1>

  <ul class="data-list">
    <li v-for="location in locations" :key="location.id">
      <img :src="location.image" />
      {{ location.name }}
    </li>
  </ul>
</template>

<script>
import { useQuery } from "../composables/useQuery";
export default {
  setup() {
    const { results } = useQuery(`
      query($page: Int) {
        data: locations(page: $page) {
          info {
            count
            pages
            next
            prev
          }
          results {
            id
            name
            dimension
          }
        }
      }
    `);
    return {
      locations: results,
    };
  },
};
</script>

<style>
</style>